<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP1 programmation Web</title>
    <link rel="icon"  href="{{ url_for('static', filename='TP1/iconeweb.ico') }}" />
</head>
<body>

    <hr>
    <a href="/page2">page 2
        <img src="{{ url_for('static', filename='TP1/linux.jpg') }}" alt="mon image devrait apparaitre" title="sympa linux!" width="250" height="200"></a><br>
    <a href="/page3">page 3</a><br>
    <a href="http://cours-info.iut-bm.univ-fcomte.fr" title="liens sur les cours TDs Tps du département informatique"> Cours – TD – TP </a>
</body>
</html>