<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="{{ url_for('static', filename='TP1/iconeweb.ico') }}" />
    <title>TP1 programmation Web</title>
</head>
<body>
    <a href="/page1" title="lien page1"> retour</a>
    <hr>
    <a href=" http://www.google.fr" target="_blank" > <img src="static/TP1/google.png" style="width: 250px:height:200px" /> </a>
</body>
</html>