<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP1 programmation Web</title>
</head>
<body>
    le produit coûte éventuellement 200 &#8364; <br>
    <abbr title="Institut Universitaire de Technologie">I.U.T</abbr><br>
    e<sup>-1/x*i<sub>5</sub></sup>
    <hr>
    <ol>
        <li>exploitation
            <ul>
                <li><a href="https://fr.wikipedia.org/wiki/Linux">linux</a></li>
                <li><a href="https://fr.wikipedia.org/wiki/Microsoft_Windows">windows</a></li>
            </ul>
        </li>
        <li>ligne 2
            <ul>
                <li>ligne 2.1</li>
                <li>ligne 2.2</li>
            </ul>
        </li>
    </ol>
    <hr>
    <a href="/page1">retour vers la page 1</a><br/>
    <br/>
</body>
</html>